[submodule "roles/ansible-role-k8s-prepare-env"]
	path = roles/ansible-role-k8s-prepare-env
	url = https://github.com/mikalai-t/ansible-role-k8s-prepare-env.git
[submodule "roles/ansible-role-openssh"]
	path = roles/ansible-role-openssh
	url = https://github.com/mikalai-t/ansible-role-openssh.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/mikalai-t/ansible-role-docker.git
[submodule "roles/ansible-role-etcd"]
	path = roles/ansible-role-etcd
	url = https://github.com/mikalai-t/ansible-role-etcd.git
[submodule "roles/ansible-role-k8s-control-plane"]
	path = roles/ansible-role-k8s-control-plane
	url = https://github.com/mikalai-t/ansible-role-k8s-control-plane.git
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = https://github.com/mikalai-t/ansible-role-nginx.git
