[submodule "roles/ansible-role-openssh"]
	path = roles/ansible-role-openssh
	url = https://github.com/mikalai-t/ansible-role-openssh.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/mikalai-t/ansible-role-docker.git
[submodule "roles/ansible-role-etcd"]
	path = roles/ansible-role-etcd
	url = https://github.com/mikalai-t/ansible-role-etcd.git
[submodule "roles/ansible-role-k8s-control-plane"]
	path = roles/ansible-role-k8s-control-plane
	url = https://github.com/mikalai-t/ansible-role-k8s-control-plane.git
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = https://github.com/mikalai-t/ansible-role-nginx.git
[submodule "roles/ansible-role-prepare-k8s-node"]
	path = roles/ansible-role-prepare-k8s-node
	url = https://github.com/mikalai-t/ansible-role-prepare-k8s-node.git
[submodule "roles/ansible-role-cni-plugins"]
	path = roles/ansible-role-cni-plugins
	url = https://github.com/mikalai-t/ansible-role-cni-plugins.git
[submodule "roles/ansible-role-containerd"]
	path = roles/ansible-role-containerd
	url = https://github.com/mikalai-t/ansible-role-containerd.git
